.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.sidebar{
    display: flex;
    flex-direction:column;
    width: 15%;
}

.headimage{
    display: flex;
    flex-direction: row;
}

.image{
    width: 4%;
    margin: 0.5rem 0.5rem;
}

.recent{
    display: flex;
    flex-direction: row;
}

.flagIcon{
    width: 4%;
    margin: 0.5rem 0.5rem;
}

.expensebars{
   display: flex;
   flex-direction: row;
}

.group{
 display: flex;
 flex-direction: row;
 margin: 0.5rem 0.5rem;
 background-color: grey;
}