.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(241 245 249);
    height: 100%;
    background-size: cover;
    /* justify-content: space-evenly; */
}
.sidebar{
    display: flex;
    flex-direction:column;
    width: 15%;
    border-right: 1px solid black;
    min-height: 10vh;
}

.headimage{
    display: flex;
    flex-direction: row;
}

.image{
    width: 15%;
    margin: 0.5rem 0.5rem;
}

.recent{
    display: flex;
    flex-direction: row;
}

.flagIcon{
    width: 4%;
    margin: 0.5rem 0.5rem;
}

.expensebars{
   display: flex;
   flex-direction: row;
}

.group{
 display: flex;
 flex-direction: row;
 margin: 0.5rem 0.5rem;
 background-color: grey;
 border-radius: 0.2rem;
}

.invite{
    border: 2px solid black;
    margin: 0.5rem 0.5rem;
}

.frndTxt{
    background-color: #1CC29F;
    margin: 0;
}

.formTxt{
    margin: 0.5rem 0.5rem;
}

.socialBtn{
    background-color: blue;
    color: white;
    margin: 0.5rem 0.5rem;
    height: 2rem;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: black;
    
}